body {
    font-family: Arial, sans-serif;
    background: #27231C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #2D2D2D;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #007bff;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #545454;
}::placeholder {
    font-weight: bold;
    color: white;
}

button {
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

.links {
    margin-top: 1rem;
    text-align: center;
}

.links a {
    display: block;
    margin: 0.25rem 0;
    color: #007bff;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}