<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP Quest - Cadastro</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="shortcut icon" href="./icons/favicon.png" type="image/x-icon">
</head>

<body>
    <!-- Página de Cadastro -->
    <div class="container" id="cadastro-page">
        <!-- Título Cadastro -->
        <h2>Cadastro</h2>
        <!-- Formulário de Cadastro -->
        <form action="cadastrar.php" method="POST">
            <!-- Campo Nome -->
            <input type="text" name="nome" placeholder="Nome" required>
            <!-- Campo E-mail -->
            <input type="email" name="email" placeholder="E-mail" required>
            <!-- Campo Senha -->
            <input type="password" name="senha" placeholder="Senha" required>
            <!-- Campo confirmar senha -->
            <input type="password" name="confirmar_senha" placeholder="Confirmar Senha" required>
            <!-- Botão Cadastrar -->
            <button type="submit">Cadastrar</button>
        </form>
        <!-- Botões Ação -->
        <div class="links">
            <!-- Link retornar -->
            <a href="../index.html">Voltar ao login</a>
        </div>
    </div>
</body>

</html>