<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP Quest - Cadastro</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="shortcut icon" href="./icons/favicon.png" type="image/x-icon">
</head>
<body>
    <!-- Página de Recuperar Senha -->
    <div class="container" id="recuperar-page">
        <!-- Título Recuperar Senha -->
        <h2>Recuperar Senha</h2>
        <!-- Formulário Recuperar Senha -->
        <form>
            <!-- Campo E-mail -->
            <input type="email" placeholder="Digite seu e-mail" required>
            <!-- Botão Enviar -->
            <button type="submit">Enviar link de recuperação</button>
        </form>
        <!-- Botões Ações -->
        <div class="links">
            <!-- Link Voltar -->
            <a href="../index.html" >Voltar ao login</a>
        </div>
    </div>
</body>
</html>